<header>
    <div class="grid10 offset1">
        <div id="logo"><img src="assets/images/logo.png" alt=""></div>
        <nav>
            <ul>
                <li><a href="#">HOME</a></li>
                <li><a href="#">SERVICE</a></li>
                <li><a href="#">PROCESS</a></li>
                <li><a href="#">BLOG</a></li>
                <li><a href="#">WORKS</a></li>
                <li><a href="#">ABOUT US</a></li>
                <li><a href="#">CONTACT</a></li>
            </ul>
        </nav>
    </div>
    
</header>