<aside class='gridS4'>
    <input #box 
        (keyup.enter)='onEnter(box.value)' 
        (blur) = "onEnter(box.value); box.value='' "
        type="text" 
        name="" 
        value="">
    <button (click)='onEnter(box.value)' 
            type="">Add</button>
    <p>{{value}}</p>
    <div class="space30"></div>
    <h4 class='list-caption'>最新文章</h4>
    <ul>
        <li *ngFor="let list of articles">    
            <a [href]='list.href' class='list-title'>{{list.title}}</a>
            <div class="clear"></div>
            <span>{{list.date}}</span> / <span class="category">{{list.category}}</span>
        </li>
    </ul>   

    <div class="space30"></div> 
    <h4 class='list-caption'>文章分類</h4>
    <ul>
        <li *ngFor="let sort of sorts"><a href="javascript:;">{{sort}}</a></li>
    </ul>
</aside>


